[submodule "Hazel/vendor-ex/spdlog"]
	path = Hazel/vendor-ex/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "Hazel/vendor-ex/glm"]
	path = Hazel/vendor-ex/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "Hazel/vendor-ex/imgui"]
	path = Hazel/vendor-ex/imgui
	url = git@github.com:Sakupinera/imgui.git
	branch = docking
[submodule "Hazel/vendor-ex/yaml-cpp"]
	path = Hazel/vendor-ex/yaml-cpp
	url = git@github.com:Sakupinera/yaml-cpp.git
[submodule "Hazel/vendor-ex/ImGuizmo"]
	path = Hazel/vendor-ex/ImGuizmo
	url = git@github.com:Sakupinera/ImGuizmo.git
