[submodule "Hazel/vendor-ex/spdlog"]
	path = Hazel/vendor-ex/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Hazel/vendor-ex/GLFW"]
	path = Hazel/vendor-ex/GLFW
	url = git@github.com:Sakupinera/glfw.git
