# Binaries
**/bin/
bin-int/
build/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Hazel/vendor-ex/VulkanSDK
Hazel-Editor/assets/cache
scripts/__pycache__
